body {
  margin:0;
  padding: 0;
  background: white;
  font-size: 1.1em;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  text-align: center;
  overflow-x: hidden;
}

main {
  padding: 0;
}
h1{
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: initial;
  letter-spacing: 1px;
  font-size: 2.4em;
  color: #333;
  text-align: center;
  font-weight: 400;
}
h2 {
  padding-bottom: .2em;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: initial;
  font-size: 2.1em;
  color: #333;
  text-align: center;
  font-weight: 400;
}
h3 {
  padding-bottom: 1em;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 1.8em;
  color: #333;
  text-align: center;
  font-weight: 400;
}
h4 {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 1.5em;
  color: #333;
  font-weight: 400;
}
h5 {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 1.2em;
  color: #333;
  font-weight: 400;
  text-align: left;
}

img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 3px;
  transition: .2s;
}

div {
  margin: 0;
}
p {
  text-align: left;
  margin: 0;
}

nav {
  background: white;
  width: 100%;
  position: fixed;
  z-index: 1000;
  transition: .4s;
  border-bottom: 1px solid #d1d1d1;
}
.nav-ul {
  margin: 0 auto;
  padding: 0;
  display: none;
  text-align: right;
}
.nav-ul li {
  list-style: none;
  display: block;
  text-align: center;
  height: 71px;
  line-height: 71px;
  background: #d1d1d1;
  }
.nav-ul li a {
  text-decoration: none;
  color: #333;
  font-size: .9em;
  padding: 30px 20px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0;
}
.nav-ul li:hover {
  background: #dddddd;
  /*background: #e91e63;*/
}
.nav-ul li a:hover {
  color: #333;
}
.toggle {
  display: block;
  width: 100%;
  padding: 11.5px 20px;
  background: white;
  text-align: right;
  box-sizing: border-box;
  color: #333;
  font-size: 1.5em;
  transition: .4s;
}
.fa-bars {
}
.fa-bars:hover {
  color: #fe3600;
}
.active {
  display: block;
}
.notActive {
  display: none;
}

.grid {
  padding: 0 2em;
}

#section-0 {
  padding: 0 2em;
  height: 100vh;
}
#section-0 img {
  padding: 6em 0 2em 0;
}
#section-0 .intro-info {
}
#section-0 .intro-button {
  padding: 3em 0;
}

/*Seperating sections with background color */
#section-1 {
  background: #222;
  color: #afafaf;
}
#section-1 h2 {
  color: #999999;
}
#section-1 p{
  text-align: left;
}
#section-3, #section-5 {
  background: white;
}
#section-2, #section-4{
  background: #dddddd;
}

/*Padding and seperating sections evenly */
#section-1, #section-2, #section-3, #section-3a, #section-4, #section-5, #section-6, #section-7 {
  padding: 4em 2em;
  text-align: center;
}
#section-1 {
  padding-bottom: 4em;
  text-align: center;
}

.viewsite {
  padding: 1em 2.5em;
  text-decoration: none;
  border: 1px solid #555;
  border-radius: 3px;
  font-weight: bold;
  color: #000;
  background: #FF6524;
}
.viewsite:hover {
  color: white;
  background: #bf2900;
}
.viewsite2 {
  padding: 1em 2.5em;
  text-decoration: none;
  border: 1px solid #555;
  border-radius: 3px;
  font-weight: bold;
  color: #000;
  background: #FF6524;
}
.viewsite2:hover {
  color: white;
  background: #982000;
}

.personas-main-paragraph {
  padding-bottom: 3em;
}
/*https://uxpodcast.com/183-meeting-design-kevin-hoffman/*/

.section-2b p, .section-2b ul {
  text-align: left;
}
.my-role-p {
  padding-bottom: 2em;
}
.objective-list li {
  text-align: left;
  list-style: circle;
}

.research-data {
  text-align: left;
  color: #222;
}
#section-3 p {
  padding-bottom: 3em;
}
#section-3 ul li {
  list-style: circle;
}

/* Persona section */
.persona-container {
  display: grid;
  grid-row-gap: 1em;
}
.persona1, .persona2 {
  background: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.persona1 img, .persona2 img {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.persona-info {
  padding: 1em;
  text-align: left;
  list-style: circle;
}
#section-5 h4 {
  text-align: left;
}
#section-5 ul {
  text-align: left;
}
.pictureGrid {
  padding-bottom: 2em;
  display: grid;
  grid-gap: 1em;
  font-weight: 600;
}
.pictureGrid img {
  padding-top: .5em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.pictureGrid1 {
  padding-bottom: 4em;
  display: grid;
  grid-gap: 1em;
}
.pictureGrid1 img {
  padding-top: .5em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.wireframe-info {
  text-align: left;
  font-weight: 300;
  padding-top: 2em;
}
.wireframe-info h5 {
  font-weight: 500;
}

.section-5p1 {
  padding-bottom: 0;
}
.section-5p2 {
  padding-bottom: 1em;
}
#section-5 p {
  padding-bottom: 3em;
}
#section-5 ul li {
  list-style: decimal;
}
.ffwf1 img, .ffwf2 img, .ffwf3 img{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#section-6 {
  background: #dddddd;
}
#section-6 p {
  padding-bottom: 3em;
  margin: inherit;
}
#section-6 img {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#section-7 {
  background: #ddd;
  color: #333;
}
.mockup-1 img, .mockup-2 img, .mockup-3 img {
  padding-bottom: 2em;
}
.mockup-1 img {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#section-8 {
  padding-bottom: 5em;
  background: #dedede;
}
.section-8p1 {
  padding-bottom: 3.2em;
  margin: 0 auto;
}
.section-8p2 {
  padding-bottom: 4.5em;
  margin: 0 auto;
}

/* Next and Last button */
.nextlast a {
  text-decoration: none;
  padding: 1.5em 0;
  color: white;
}
.nextlast a:hover {
  background: #FF6524;
  color: black;
  text-decoration: none;
  font-weight: 600;
}
.nextlast {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.next {
  background: #111;
}
.last {
  background: #333;
}

/* Footer */
#footer {
  padding: 2em;
  background: white;
  color: #555;
  text-align: center;
}
#footer div {
  font-size: .9em;
}
#footer a {
  text-decoration: none;
  color: #00316b;
}


@media(min-width: 500px) {

  p {
    text-align: left;
  }

  #section-3 h2 {
    grid-column: 2/4;
  }
  #section-3 div {
    grid-column: 2/4;
  }
  #section-3 p {
    grid-column: 2/4;
  }

  /* Persona section */
  .persona-container {
    grid-column: 1/5;
  }

  #section-5 h2 {
    grid-column: 1/3;
  }
  #section-5 h5 {
    grid-column: 1/3;
  }

  .pictureGrid1 {
    grid-column: 1/3;
    justify-self: center;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 3em;
    margin: 0 auto;
    font-weight: 600;
  }
  .ffwf1 {
    grid-column: 1/2;
  }
  .ffwf2 {
    grid-column: 2/3;
  }
  .ffwf3 {
    grid-column: 3/4;
  }

  .pictureGrid {
    grid-column: 1/3;
    justify-self: center;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }
  /* Persona section */
  .persona-container {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/5;
  }
  .persona1 {
    grid-column: 1/2;
  }
  .persona2 {
    grid-column: 2/3;
  }

}


@media(min-width: 600px) {

  #section-0 {
    height: max-content;
  }

  .rp3 {
    grid-column: 1/2;
  }
  .rp4 {
    grid-column: 2/3;
  }

  .section-2grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
  }
  .section-2a {
    grid-column: 1/2;
  }
  .section-2b {
    grid-column: 2/3;
  }

  .personas-main-paragraph, .personas-main-header, #section-5 p, .preference-stats, #section-6 h2, #section-6 p, #section-7 h2, #section-7 p, #section-8 h2, #section-8 p {
    grid-column: 1/3;
  }

  .results-grid {
    display: grid;
    grid-template-columns: 1fr .8fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 0 2em;
  }
  .mockup-1 {
    grid-column: 1/2;
    grid-row: 1/4;
  }
  .mockup-2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .mockup-3 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .mockup-4 {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  #footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #footer div:first-child {
    grid-column: 1/2;
  }
}

@media(min-width: 650px) {

  .pictureGrid1 {
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 2em;
  }
  .ffwf1 {
    grid-column: 1/2;
  }
  .ffwf2 {
    grid-column: 2/3;
  }
  .ffwf3 {
    grid-column: 3/4;
  }


  .abtesting-container {
    padding-top: 4em;
  }
}


@media(min-width: 736px) {

  #section-0 {
    display: grid;
    grid-template-columns: 1fr .7fr;
    grid-template-rows: 142px 1fr 170px;
    grid-column-gap: 1em;
    height: 100vh;
  }
  #section-0 img {
    padding: 0;
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: center;
  }
  #section-0 .intro-info {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
  }
  #section-0 h1 {
    text-align: left;
  }
  #section-0 .intro-button {
    grid-column: 1/3;
    grid-row: 3/4;
    padding-bottom: 4em;
    text-align: left;
    align-items: left;
    align-self: left;
    align-content: left;
    justify-content: left;
    justify-self: left;
  }
}

@media(min-width: 760px) {

  #section-6 p {
    grid-row: 2/4;
    margin: auto;
  }

}

@media(min-width: 765px) {

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #section-1 p, .research-data, .personas-main-paragraph, #section-5 p, #section-5 h4, .preference-stats, .abtesting-container, #section-6 p, #section-7 p,  #section-8 p, #section-8 div {
    width: 675px;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    justify-self: center;
  }
  #section-1 h2, #section-1 p, #section-3 h2, #section-3 div, .pictureGrid, .preference-grid, #section-5 h3, #section-5 h4, #section-5 ul, .abtesting-container, #section-7 div, #section-8 div {
    grid-column: 1/3;
  }
  .section-5-ul {
    width: 675px;
    text-align: left;
    margin: 0 auto;
    grid-column: 1/3;
  }

  .section-2grid {
    grid-template-columns: 1fr 320px 35px 320px 1fr;
    grid-gap: 0;
  }
  .section-2a {
    grid-column: 2/3;
  }
  .section-2b {
    grid-column: 4/5;
  }

}

@media(min-width: 829px) {
  .pictureGrid1 {
    grid-template-rows: 1fr;
  }
}

@media(min-width: 850px) {

  .nav {
    text-align: none;
  }
  .nav-ul {
    float: right;
    padding-right: 90px;
  }

  .persona-container {
    grid-template-columns: 1fr 357px 357px 1fr;
    grid-gap: 1em;
  }
  .persona1 {
    grid-column: 2/3;
  }
  .persona2 {
    grid-column: 3/4;
  }

  .preference-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }
  .preference-grid img {
    border-radius: 0;
  }
  .preference-pic-1 {
    grid-column: 1/3;
  }
  .preference-pic-2 {
    grid-column: 1/2;
  }
}

@media(min-width: 950px) {
  nav {
    /*align-items: center;
    text-align: center;
    justify-content: center;*/
  }
  .nav-ul {
    display: inline-block;
    float: right;
    padding-right: 100px;
  }
  .nav-ul li {
    display: inline-block;
    background: none;
  }
  .toggle {
    display: none;
  }
}

@media(min-width: 1150px) {

  #section-0 {
    width: 1060px;
    margin: 0 auto;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 530px 530px 1fr;
  }
  .pictureGrid {
    grid-gap: 9em;
  }
  .pictureGrid, .colorpalette, .results-grid {
    width: 1060px;
    justify-self: center;
    margin: 0 auto;
  }
  #section-1 h2, #section-1 p, #section-3 h2, #section-3 div, #section-4 h2, .pictureGrid, .pictureGrid1, #section-5 h2, #section-5 h3, #section-5 h4, #section-5 ul,
  .section-5-ul, .abtesting-container, .preference-grid, .preference-stats, #section-7 div, #section-8 h2, #section-8 p, #section-8 div {
    grid-column: 2/4;
  }

  #section-1 h2 {
    grid-column: 1/5;
  }
  #section-1 p {
    grid-column: 2/4;
  }

  #section-4 p, #section-5 p, #section-6 p, #section-7 p {
    grid-column: 2/4;
  }

}


@media(min-width: 1350px) {

}
