body {
  margin:0;
  padding: 0;
  background: white;
  font-size: 1.1em;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  text-align: center;
  overflow-x: hidden;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  font-weight: 300;
}

img {
  display: block; /* This displays it across the width of the whole screen*/
  width: 100%; /* of it's container. ATM which is the div tag w/id of card*/
  height: auto;
  border-radius: 5px;
}
h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  /*color: #2a9fdc;*/
  color: #006ba3;
  margin: 0;
  font-size: 2.5em;
  text-align: center;
}
h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
  color: #006ba3;
  margin: 0;
  font-weight: 600;
}
p {
  margin: 0;
  padding: 0;
}

nav {
  background: white;
  width: 100%;
  position: fixed;
  z-index: 1000;
  transition: .4s;
  border-bottom: 1px solid #d1d1d1;
}
ul {
  margin: 0 auto;
  padding: 0;
  display: none;
  text-align: right;
}
ul li {
  list-style: none;
  display: block;
  text-align: center;
  height: 71px;
  line-height: 72px;
  background: #d1d1d1;
  }
ul li a {
  text-decoration: none;
  color: #333;
  font-size: .9em;
  padding: 30px 20px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0;
}
ul li:hover {
  background: #dddddd;
  /*background: #e91e63;*/
}
.toggle {
  display: block;
  width: 100%;
  padding: 22.5px 20px;
  background: white;
  text-align: right;
  box-sizing: border-box;
  color: #dddddd;
  font-size: 1.5em;
  transition: .4s;
}
.fa-bars {
  color: black;
}
.fa-bars:hover {
  color: #006ba3;
}
.active {
  display: block;
}
.notActive {
  display: none;
}

/* SECTION 1 */
#section_1 {
  display: grid;
  grid-template-columns: 2em 1fr 2em;
  grid-template-rows: 150px .3fr 1fr 70px;
}
.project_container {
  grid-column: 2/3;
  grid-row: 2/3;
}
.project_info_container {
  grid-column: 2/3;
  grid-row: 3/4;
  padding: 3em 0;
  text-align: left;
}

/*SEE MORE BUTTON*/
.see-more-button {
  grid-column: 2/3;
  grid-row: 4/5;
  text-align: center;
  position: relative;
}
.see-more-button a{
  padding: 1em 3em;
  background: #00316b;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.see-more-button a:hover{
  background: #006ba3;
}

/* Footer */
#footer {
  padding: 2em;
  background: white;
  color: #333;
  text-align: center;
}
#footer div {
  font-size: .9em;
}
#footer a {
  text-decoration: none;
  color: #00316b;
}


@media(min-width: 600px) {

  #section_1 {
    display: grid;
    grid-template-columns: 2em 1fr 2em;
    grid-template-rows: 150px .6fr 1fr 70px;
  }

  #footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #footer div:first-child {
    grid-column: 1/2;
  }
}

@media(min-width: 640px) {
  .pictureGrid {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    grid-gap: 2em;
  }
}

@media(min-width: 736px) {

  #section_1 {
    grid-template-columns: 1fr 700px 1fr;
  }
  #footer {
    grid-template-columns: 1fr 1fr;
  }

}

@media(min-width: 950px) {
  nav {
    text-align: none;
  }
  ul {
    float: right;
    padding-right: 100px;
    display: inline-block;
  }
  ul li {
    display: inline-block;
    background: none;
  }
  .toggle {
    display: none;
  }

}
